[submodule "sources/monolgc"]
	path = sources/monolgc
	url = https://github.com/lxgw/LxgwWenKai-MonoLGC.git
[submodule "sources/shared"]
	path = sources/shared
	url = https://github.com/lxgw/LxgwWenKai-shared.git
